<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='errors.css') }}">
    <title>500 - Server Error</title>
</head>
<body>
    <div class="container">
        <h1>Something went wrong! (500)</h1>
        <p> We're experiencing server downtime, please try again shortly.</p>
        <a href="{{ url_for('home') }}">Go back <strong>Home</strong></a>
    </div>
</body>
</html>
