{% extends "layout.html" %}
{% block content %}
    <style>
        .container {
            display: flex;
            justify-content: center;
            padding-top: 10px;
            align-items: center;
            font-weight: 500;
        }
    
        .dashboard-card {
            width: 100%; 
            margin: 0 auto; 
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
        .dashboard-card h1 {
            font-size: 3rem;
            font-weight: 800;
            color: #575757;
            margin-bottom: 0.5em;
        }
        .dashboard-card h3 {
            font-weight: 500;
            font-size: 20px;
            color: #696969;
        }

        .equities-list {
            display: flex;
            flex-wrap: wrap;
            gap: 16px; /* Space between cards */
        }

        #equity-heading {
            font-weight: bold;
            color: #3d3d3d;
            margin-bottom: 0.5em;
        }

        .equity-card {
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 16px;
            margin-bottom: 16px;
            background-color: #f9f9f9;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
        }
        .equity-details {
            font-family: 'Arial', sans-serif;
            color: #444;
            margin-left: 16px;
            background: #2f7265;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s, box-shadow 0.3s;
        }
        .equity-details:hover {
            transform: scale(1.05);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
            background: #ff7f0e;
        }
        #equity {
            font-size: 20px;
            color: #fff;
            margin-bottom: 8px;
            font-weight: bold;
        }
        .equity-details h3 {
            font-size: 24px;
            color: #fff;
            margin-bottom: 8px;
        }
        .rounded-corner {
            border-radius: 15px; 
        }
        .firstname {
            color: #FF5147;
            font-weight: bold;
        }
    </style>
    <div class="container">
        <div class="dashboard-card">
            <h1>My Dashboard</h1>
            <h3><span class="firstname"><b>{{ current_user.firstname }}</b></span>, welcome to your Dashboard!</h3>
            <br>
            <div>
                <h3> Your Account Details:</h3>
                <h3> <b>First Name:</b> {{ current_user.firstname }}</h3>
                <h3> <b>Last Name:</b> {{ current_user.lastname }}</h3>
                <h3> <b>Email:</b> {{ current_user.email }}</h4>
            </div>
            <br>
            <hr>
                <div>
                    <h3 id="equity-heading"> Your Equities Analysis History:</h3>
                </div>
            <div class="equities-list mt-5">
               
                
                <div>
                    {% for key, equity in data.items() %}
                        <div class="equity-card">
                            <div class="equity-details">
                                <h3 id="equity">{{ key }}</h3>
                                {% for sub_key, value in equity.items() %}
                                    {% if sub_key == 'NPM' and data[key][sub_key]['ComparisonPlot'] %}
                                        <div> <img class="rounded-corner" src="{{ url_for('serve_image', symbol=key, metric=sub_key, user_id=current_user.id, compare='1') }}" alt="Analysis Image"> </div>
                                    {% elif sub_key == 'NPM' %}
                                        <div> <img class="rounded-corner" src="{{ url_for('serve_image', symbol=key, metric=sub_key, user_id=current_user.id, compare='0') }}" alt="Analysis Image"> </div>
                                    {% elif sub_key == 'PTE' and data[key][sub_key]['ComparisonPlot'] %}
                                        <div> <img class="rounded-corner" src="{{ url_for('serve_image', symbol=key, metric=sub_key, user_id=current_user.id, compare='1') }}" alt="Analysis Image"> </div>
                                    {% elif sub_key == 'PTE' %}
                                       <div> <img class="rounded-corner" src="{{ url_for('serve_image', symbol=key, metric=sub_key, user_id=current_user.id, compare='0') }}" alt="Analysis Image"> </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
