{% extends "layout.html" %}
{% block content %}
    <style>
        h2 {
            color: #306e60;
            font-weight: 800;

        }
        h5 {
            color: #306e60;
            font-weight: 800;
        }
        .card {
            width: 100%;
            margin-top: 1em;
            transition: 0.3s;
            border-radius: 10px;
            font-size: 15px;
        }
        .card img {
            width: 100%;
            height: auto;
            display: block;
            margin-bottom: 15px;
            border-radius: 15px;
        }
    </style>

    <div class="container mt-2">
        <div class="row justify-content-center">
            <div class="container">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <div class="title">
                            <div class="border-bottom mb-4">
                                <h2 class="font-weight-bold text-uppercase">Analysis Report</h2>
                            </div>
                            <p class="text-muted"> <b>Symbol:</b> {{data[0]}}</p>
                            <p class="text-muted"> <b>Metric:</b> {{data[1]}}</p>
                            <p class="text-muted"> <b>Data:</b> {{data[3]}}</p>
                        </div>
                        <hr>
                        <div class="row mt-3 mb-5">
                            <h5 class="font-weight-bold">Plot Image</h5>
                        </div>
                        <div >
                            <img src="{{ url_for('serve_image', symbol=data[0], metric=data[1], user_id=data[2], compare=data[4]) }}" alt="Ananysis Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
