<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='landing.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='image/images.png') }}" type="image/jpg">
    <title>Equigence</title>
</head>
<body>
    <header class="header-section">
        <div class="header-container">
            <div>
                <a class="logo" href="{{url_for('home')}}">Equigence</h1>
            </div>
            <div>
                <button class="menu-toggle">&#9776;</button>
                <nav class="nav-links">
                    <ul>
                        <li><a class="links" href="{{url_for('home')}}">Home</a></li>
                        <li><a class="links" href="{{url_for('contact')}}">Contact</a></li>

                        {% if current_user.is_authenticated %}
                            <li><a class="links" href="{{ url_for('dashboard') }}">Dashboard</a></li>
                            
                            <li><a class="links" id="logout" href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                            <li>
                                <a class="links" href="{{ url_for('register') }}">Sign Up</a>
                            </li>
                            <li>
                                <a class="links" href="{{ url_for('login') }}">Login</a>
                            </li>
                        {% endif %}
                        <li><a class="links" href="{{url_for('new')}}">New Search</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="hero-section">
        <div class="hero-content">
            <div class="hero-texts">
                <h1 class="header">Your Gateway to Intelligent Equity Analysis</h1>
                <h2 class="sub-header">Comprehensive Insights for Smarter Investments</h2>
                <p class="hero-description">
                    Leverage advanced analytics to make informed investment choices.
                    Simplify Your Investment Journey!
                </p>
            </br>
                <a href="{{url_for('new')}}" class="head-btn">Explore Now</a>
            </div>
        </div>
        <div class="illustration">
            <img src="{{url_for('static', filename='image/hero.jpg')}}" alt="Illustration">

        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#eff3da" fill-opacity="1" d="M0,64L48,80C96,96,192,128,288,144C384,160,480,160,576,138.7C672,117,768,75,864,80C960,85,1056,139,1152,154.7C1248,171,1344,149,1392,138.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
    <section id="why-choose">
        <div class="container">
            <h2>Why Choose Equigence?</h2>
            <div class="grid">
                <div class="feature">
                    <h3>Advanced Analytics</h3>
                    <p>Equigence provides comprehensive equity analysis to empower your investment decisions.</p>
                </div>
                <div class="feature">
                    <h3>Real-Time Insights</h3>
                    <p>Gain confidence with data-driven insights and real-time market analysis.</p>
                </div>
                <div class="feature">
                    <h3>Personalized Reports</h3>
                    <p>Receive customized investment reports tailored to your portfolio and goals.</p>
                </div>
                <div class="feature">
                    <h3>Data-Driven Strategies</h3>
                    <p>Utilize cutting-edge analytics to uncover trends and make informed investment choices.</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-section">
        <div class="footer-container">
            <p>&copy; 2024 Equigence Directory. All rights reserved.</p>
        </div>
    </footer>
    <script>
        const menuToggle = document.querySelector('.menu-toggle');
        const navLinks = document.querySelector('.nav-links');

        menuToggle.addEventListener('click', () => {
            navLinks.classList.toggle('show');
        });
    </script>
</body>
</html>
